.flip-card {
  font-family: Consolas, 'Lucida Console', monospace;
  background-color: transparent;
  width: 300px;
  height: 300px;
  perspective: 1000px;
  margin-left:30%;
    margin-top: 10%;
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  box-shadow: 0 8px 12px 0 rgba(0,0,0,0.2);
}

.flip-card:hover .flip-card-inner {
  transform: rotateX(180deg);
}

.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.flip-card-front {
  background-color: #ffffff;
  color: black;
}

.flip-card-back {
  background-color: gray;
  transform: rotateX(180deg);

}

.flip-text {
    margin-top: 45%;

}
.flip-text a {
    text-decoration: none;
    font-size: 24px;
    color:black;
}

.flip-text a:hover {
 background-color: #ffffff;
  border: 1px solid white;
    opacity:0.4;
    color:#660033;
}